@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: var(--main-color);
}

hr,
.hidden{
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.inner{
    width: 134.4rem;
    /* max-width: 168rem; */
    margin: 0 auto;
    /* background-color: rgba(255, 255, 0, 0.3); */
}

.h-inner{
    width: 134.4rem;
    /* max-width: 168rem; */
    margin: 0 auto;
    /* background-color: rgba(255, 255, 0, 0.3); */
}


/* #header{
    margin: 0 auto;
} */

@media (min-width: 2160px){
    .h-inner{
        /* width: 134.4rem; */
        /* max-width: 168rem; */
        margin: 0 auto;
        /* background-color: rgba(255, 255, 0, 0.3); */
    }
}

#header nav{
    /* margin: 0 auto; */
    height: 10rem;
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.logo a{
    display: block;
    width: 204px;
    height: 97px;
    background: url(../img/logo.png) no-repeat 0 0 / contain;
    position: absolute;
    top: 0;
    left: -22%;
}

.logo::before{
    content: '';
    display: block;
    height: 100%;
    width: 60px;
    background-color: #41051F;
    position: absolute;
    top: 0;
    left: -24.75%;
}

.gnb{
    display: flex;
    width: 100%;
    /* margin: 0 auto; */
    margin-left: 50px;
    align-items: end;
    justify-content: space-between;
    /* gap: 20%; */
}

.gnb li a{
    display: block;
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 2rem;
    color: var(--title-color);
    position: relative;
}

/* .gnb li a::after{
    content: '';
    display: block;
    position: absolute;
    top: -20px ;
    left: 43%;
    transform: translateX(50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0;
    transition: cubic-bezier(0,.57,.45,1.17) 0.4s;
} */

.gnb li a:hover::after{
    top: 0;
    opacity: 1;
}

.gnb li a:hover{
    /* color: var(--main-color); */
}

.util-menu a{
    display: block;
    width: 50px;
    height: 50px;
    /* background: url(../img/icon-login.svg) no-repeat 50%/ contain; */
    /* border: 1px solid #000; */
    border-radius: 50%;
    margin-right: 70px;
}



#footer {
    background: #f3f3f3;
    margin: 0 auto 0;
}

#footer .inner {
    width: 1280px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto 40px;
    padding-top: 30px!important;
}

#footer .inner * {
    font-size: 14px;
}

#footer .foot_logo img {
    height: 40px
}

#footer .foot_conts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

#footer .foot_conts .haagendazs_footer {
    flex: 1 0 650px;
}

#footer .foot_conts .haagendazs_footer dl {
    margin-top: 15px;
    line-height: 160%;
}

#footer .foot_conts .haagendazs_footer dd {
    margin-top: 3px;
}

#footer .foot_conts .haagendazs_footer dd span {
    display: block;
    color: #888;
}

#footer .foot_conts .haagendazs_number {
    flex: 1 0 400px;
}

#footer .foot_conts .haagendazs_number p {
    margin-bottom: 5px;
}

#footer .foot_conts .haagendazs_number > strong {
    display: block;
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 100%;
    letter-spacing: -1px;
    font-family: pretendard;
    font-weight: 800
}

#footer .foot_conts .haagendazs_number ul li {
    color: #888;
    line-height: 160%;
}

#footer .foot_conts .haagendazs_number ul.policy {
    margin-top: 18px;
}

#footer .foot_conts .haagendazs_number ul.policy li {
    margin-top: 3px;
}

#footer .foot_conts .haagendazs_number ul.policy li a {
    color: #888;
}

#footer .foot_conts .haagendazs_number ul.policy li strong {
    font-weight: 400;
}

#footer .foot_conts .footer_menu {
    flex: 1 auto;
}

#footer .foot_conts .footer_menu ul li {
    margin-top: 8px;
}

#footer .foot_conts .footer_menu ul li a {
    color: #888
}

#footer .family_site {
    margin-top: 60px;
    background: none;
    border: 1px solid #bbb;
    min-width: 150px;
    height: 32px;
    padding-left: 5px;
    color: #888
}

#footer .copyright {
    border-top: 1px solid #d6d6d6;
    padding: 20px 0;
    text-align: center;
}

@keyframes fadeText {
    0% {
        transform: translateY(50px);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}