@charset "utf-8";

@media screen and (min-width: 1920px) and (max-width: 2160px),
       screen and (min-width: 1829px) and (max-width: 2057px) and (-webkit-min-device-pixel-ratio: 1.05),
       screen and (min-width: 1829px) and (max-width: 2057px) and (min-resolution: 1.05dppx) {
#main {
    width: 100%;
    display: block;
    /* border: 1px solid #000; */
}

.visual {
    /* height: 64rem; */
    max-width: 192rem;
    max-width: 200.5rem;
    margin: 0 auto;
    /* border: 10px solid #f00; */
    position: relative;
    overflow: hidden;
    /* animation: revealAni 2s; */
}

.visual img {
    width: 100%;
    display: block;
    margin: 0 auto;
    /* width: 100%; */
    /* margin: 0 auto; */
    /* display: block; */
    object-fit: cover;
    filter: brightness(70%);
}

.visual_title {
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translateY(-50%);
    /* background: red; */
}

.visual_title h2 {
    animation: fadeText 1s 0.7s both;
    font-weight: 900;
    font-size: 8rem;
    color: #fff;
    line-height: 1.1;
}

.visual_title strong {
    color: #EE4F94;
}

.suggestion1 {
    margin: 160px 0;
}

.suggestion-list {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    gap: 8vw;
    /* gap: 11.2%; */
    flex: 1 1 30%;
}

/* .suggestion-list li {
} */

.suggestion-list li p {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}

.banner {
    max-width: 200.5rem;
    margin: 0 auto;
    padding: 250px 0;
}

}