@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

:root{
    --bh_color_main: #7987e0;
    --bh_color_main_light: #949fe6;
    --bh_color_main_dark: #616cb3;
    --bh_color_sub: #f63440;
    --bh_color_sub_light: #f85d66;
    --bh_color_sub_dark: #c52a33;
    --bh_color_point: #ff8953;
    --bh_color_red: #f63440;
    --bh_color_blue: #0058a6;
    --bh_color_text: #424242;
    --bh_color_white: white;
    --bh_color_black: black;
    --bh_color_gray_50: #fafafa;
    --bh_color_gray_100: #f5f5f5;
    --bh_color_gray_200: #eeeeee;
    --bh_color_gray_300: #e0e0e0;
    --bh_color_gray_400: #bdbdbd;
    --bh_color_gray_500: #9e9e9e;
    --bh_color_gray_600: #757575;
    --bh_color_gray_700: #616161;
    --bh_color_gray_800: #424242;
    --bh_color_gray_900: #212121;
    --bh_color_bg_main: white;
    --bh_color_bg_sub: white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'NanumSquareNeo', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--bh_color_text);
    word-break: keep-all; */
    font-family: "Montserrat", "Roboto", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", sans-serif;
    color: var(--bh_color_text);
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    /* color: var(--bh_color_main); */
}

::selection {
    background-color: var(--bh_color_main);
    color: #f3f3f3;
}


hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* #header{
    position: relative;
    width: 100%;
    height: 85px;
    background-color: var(--bh_color_bg_sub);
    z-index: 3;
    box-shadow: 0px 2px 22px 0 rgba(6, 6, 37, 0.1);
    overflow: hidden;
    padding: 4px 0;
    margin: 0 auto 2px auto
}

#header nav{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items:center;
}

.gnb {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.h-inner{
    max-width: 1400px;
    margin: 0 auto;
} */

.inner{
    width: 134.4rem;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 0, 0.3); */
}

#header{
    position: relative;
    z-index: 3;
    box-shadow: 0px 2px 22px 0 rgba(6, 6, 37, 0.1);
}

#header nav{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    /* display: block;
    width: 17.9rem;
    height: 5rem; */
    /* background: url(../img/logo.svg) no-repeat 0 0 / contain; */
}

.gnb{
    display: flex;
    /* margin-left: auto; */
    /* margin-right: 5rem; */
    /* margin-right: auto; */
    margin: 0 auto;
    text-transform: uppercase;

}

.gnb li a{
    display: block;
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--title-color);
    position: relative;
}

.gnb li a::after{
    content: '';
    display: block;
    position: absolute;
    top: -20px ;
    left: 43%;
    transform: translateX(50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--bh_color_main);
    opacity: 0;
    transition: cubic-bezier(0,.57,.45,1.17) 0.4s;
}

.gnb li a:hover::after{
    top: 0;
    opacity: 1;
}

.gnb li a:hover{
    color: var(--bh_color_main);
}