@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "NanumSquareNeoLight";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: "NanumSquareNeo";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: "NanumSquareNeoBold";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: "NanumSquareNeoExtraBold";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: "NanumSquareNeoHeavy";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: "NanumSquareNeoVariable";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

:root {
    --bh_color_main: #7987e0;
    --bh_color_main_light: #949fe6;
    --bh_color_main_dark: #616cb3;
    --bh_color_sub: #f63440;
    --bh_color_sub_light: #f85d66;
    --bh_color_sub_dark: #c52a33;
    --bh_color_point: #ff8953;
    --bh_color_red: #f63440;
    --bh_color_blue: #0058a6;
    --bh_color_text: #424242;
    --bh_color_white: white;
    --bh_color_black: black;
    --bh_color_gray_50: #fafafa;
    --bh_color_gray_100: #f5f5f5;
    --bh_color_gray_200: #eeeeee;
    --bh_color_gray_300: #e0e0e0;
    --bh_color_gray_400: #bdbdbd;
    --bh_color_gray_500: #9e9e9e;
    --bh_color_gray_600: #757575;
    --bh_color_gray_700: #616161;
    --bh_color_gray_800: #424242;
    --bh_color_gray_900: #212121;
    --bh_color_bg_main: white;
    --bh_color_bg_sub: white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'NanumSquareNeo', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--bh_color_text);
    word-break: keep-all; */
    font-family: "Montserrat", "Roboto", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Dotum",
        "돋움", sans-serif;
    color: var(--bh_color_text);
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    min-width: 340px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    /* color: var(--bh_color_main); */
}

::selection {
    background-color: var(--bh_color_main);
    color: #f3f3f3;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.btn-menu {
    display: none;
}

.btn-menu::after {
    content: "\EF3E";
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 4rem;
    width: 72px;
    height: 68px;
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

/* #header{
    position: relative;
    width: 100%;
    height: 85px;
    background-color: var(--bh_color_bg_sub);
    z-index: 3;
    box-shadow: 0px 2px 22px 0 rgba(6, 6, 37, 0.1);
    overflow: hidden;
    padding: 4px 0;
    margin: 0 auto 2px auto
}

#header nav{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items:center;
}

.gnb {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.h-inner{
    max-width: 1400px;
    margin: 0 auto;
} */

.inner {
    width: 134.4rem;
    /* l/r 288, l+r 576 */
    margin: 0 auto;
    /* background-color: rgba(255, 255, 0, 0.3); */
}

#header {
    position: relative;
    z-index: 3;
    box-shadow: 0px 2px 22px 0 rgba(6, 6, 37, 0.1);
}

#header nav {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    /* display: block;
    width: 17.9rem;
    height: 5rem; */
    /* background: url(../img/logo.svg) no-repeat 0 0 / contain; */
}

.gnb {
    display: flex;
    /* margin-left: auto; */
    /* margin-right: 5rem; */
    /* margin-right: auto; */
    margin: 0 auto;
    text-transform: uppercase;
}

.gnb li a {
    display: block;
    padding: 1rem 3rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--title-color);
    position: relative;
}

.gnb li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0px;
    /* left: 43%; */
    /* transform: translateX(50%); */
    transform: scaleX(0) translateX(11.5%);
    width: 80%;
    height: 0.5rem;
    /* border-radius: 50%; */
    background-color: var(--bh_color_main);
    opacity: 0;
    /* transition: cubic-bezier(0, .57, .45, 1.17) 0.4s; */
    transition: 0.4s;
}

.gnb li a:hover::after {
    bottom: 5px;
    opacity: 1;
    transform: scaleX(1) translateX(11.5%);
}

.gnb li a:hover {
    color: var(--bh_color_main);
}

#header .active_tab {
    color: var(--bh_color_main);
    font-weight: 700;
}

.gnb li a.active_tab::after {
    bottom: 5px;
    opacity: 1;
    transform: scaleX(1) translateX(11.5%);
}

.mobile-gnb {
    position: fixed;
    top: 0;
    right: -100%;
    width: 43rem;
    height: 100vh;
    background: #fff;
    overflow-y: auto;
    z-index: 100;
    transition: 0.4s;
    padding-top: 40px;
}

.mobile-gnb.active {
    right: 0;
}

.mobile-gnb.active+.close-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200vw;
    z-index: 90;
}


.mobile-gnb li {
    border-bottom: 1px solid var(--bh_color_gray_300);
}

.close-area {
    background-color: rgba(0, 0, 0, 0.6);
}

.mobile-gnb li a {
    display: block;
    font-weight: 400;
    padding: 20px 10px;
    color: var(--bh_color_gray_900);
    font-size: 16px;
    letter-spacing: -1px;
    border-radius: 0;
    font-size: 19px;
    line-height: 1;
    letter-spacing: -0.8px;
    text-align: center;
}

#footer {
    background: url(../img/common/foot-bg.png) no-repeat;
    background-attachment: unset;
    background-size: cover;
    padding: 50px 0 100px;
}

.foot-tx,
.icon {
    margin: 0 auto;
    text-align: center;
}

.foot-tx {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.3));
}

.foot-tx div {
    margin: 2.5rem 0;
    width: 100%;
}

.foot-tx div img {
    max-width: 100%;
}

.foot-tx div:first-child {
    margin-top: 0;
}

.line {
    max-width: 700px;
    height: 1px;
    margin: 65px auto 70px;
    background-color: #b7bff4;
}

.icon {
    display: flex;
    /* gap: 100px; */
    /* gap: 40px; */
    gap: clamp(40px, 6.8359vw, 100px);
    align-items: center;
    justify-content: center;
}

.icon img {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5)) brightness(100);
    transition: all 0.3s;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
}

.btn-more {
    width: 210px;
    border-radius: 50px;
    padding: 18px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.btn-wrap img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.more {
    font-weight: 700;
    color: var(--bh_color_white);
    position: relative;
    z-index: 10;
}

.btn-wrap svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: unset;
}

.move {
    /* opacity: 0; */
    /* transition: opacity 0.3s ease; */
}

.move_n {
    /* transition: opacity 0.3s ease; */
}

@media screen and (max-width: 1430px) {
    .inner {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .inner {
        width: 92.1875%;
    }

    .gnb {
        display: none;
    }

    .btn-menu {
        display: block;
    }

    .mobile-gnb {
        width: 23rem;
    }
}

@media screen and (max-width: 430px) {
    .inner {
        width: 90.6976%;
    }

    .icon {
        width: 100%;
        /* gap: 40px; */
        justify-content: center;
    }
}