@charset "utf-8";

body {
    overflow-x: hidden;
}

.cont_wrap.cont1 {
    padding: 220px 0 200px;
    background: url("../img/main/sub1_bg1.png") no-repeat;
    background-size: cover;
}

.bh_wrap {
    width: 100%;
    max-width: 1310px;
    margin: 0px auto;
}

.ta-c {
    text-align: center !important;
    padding: 0 20px;
    word-break: keep-all;
}

.bh * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cont_wrap.cont1 .txt_box figure {
    max-width: 316px;
    aspect-ratio: 1/0.5727;
    margin: 0 auto;
}

.cont_wrap.cont1 .txt_box figure img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4));
}

.cont_wrap.cont1 .txt_box .line {
    max-width: 146px;
    height: 1px;
    margin: 60px auto;
    background-color: #cacaef;
}

.cont_wrap.cont1 .txt_box p {
    font-weight: 500;
    /* font-size: 20.5px; */
    /* font-size: 18px; */
    font-size: clamp(18px, 1.8798vw, 20.5px);
    line-height: 2.56;
    letter-spacing: -0.51px;
    color: #f7f7ff;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4));
}

.cont_wrap.cont2 {
    /* background-color: #f7f7ff */
    overflow-x: hidden;
}

.cont_wrap.cont2 .banner {
    /* padding: 190px 0 130px; */
    padding: clamp(120px, 22.619vw, 190px) 0 130px;
    display: flex;
    max-width: 2100px;
    margin: 0 auto;
    /* gap: 180px; */
    gap: clamp(30px, 5.8593vw, 180px); /* tablet: 60 */
}

.cont_wrap.cont2 .banner .img_box {
    margin-left: -30px;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    height: 300px;
    max-width: 950px;
    background: url(../img/main/sub1_img1.png) no-repeat 0% / cover;
}

.img_box img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.bg {
    width: 95rem;
    height: 30rem;
}

.v_tuber {
    position: absolute;
    /* left: 194px; */
    right: -50px;
    bottom: 0px;
}

.cont_wrap.cont2 .banner .txt_box span {
    font-family: "NanumSquareNeo", sans-serif !important;
    background-color: #8e93f9;
    color: #f7f7ff;
    font-weight: 700;
    display: inline-block;
    font-size: 22px;
    font-size: 20px;
    font-size: clamp(20px, 2.0507vw, 22px);
    letter-spacing: -0.66px;
    padding: 0 10px;
    margin: 3px;
}

.cont_wrap.cont2 .banner .txt_box .line {
    width: 1px;
    height: 67px;
    margin: 30px 0;
    background-color: #d0d0e1;
}

.cont_wrap.cont2 .banner .txt_box p {
    font-size: 20px;
    font-size: 18px;
    font-size: clamp(18px, 1.8554vw, 20px);
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #20202d;
}

/* 
.cont_wrap.cont2 .info {
    padding-bottom: 130px
}

.cont_wrap.cont2 .info .bh_row {
    margin: 0 -30px
}

.cont_wrap.cont2 .info .bh_row>div {
    padding: 0 30px
}

.cont_wrap.cont2 .info p {
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #20202d
} */

.info {
    /* padding-bottom: 130px; */
    padding-bottom: clamp(60px, 15.2941vw, 130px);
}

.info-imgs {
    display: flex;
    justify-content: space-between;
}

.info-imgs figure {
    aspect-ratio: 1/0.6026;
}

.info-imgs figure img {
    width: 100%;
    height: 100%;
    max-width: 375px;
}

.info-text {
    text-align: center;
    margin-top: 35px;
    /* font-size: 20px; */
    font-size: clamp(18px, 1.8554vw, 20px);
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #20202d;
}

.con3 {
    background: url(../img/main/mbg.png);
    width: 100%;
    /* height: 1730px; */
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;
    /* padding: 30px 0; */
    z-index: 1;
    /* overflow: hidden; */
    padding: 0 0 10rem;
}
.con3 > section {
    width: 100%;
}

.news {
    padding: 8rem 0 10rem;
}

.news-list,
.music-list {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: nowrap;
}
.music-list {
    gap: 12rem;
}
.music-list li {
    aspect-ratio: 1/1;
    max-width: 368px;
}

.news-list li {
    flex: 1 1 100%;
}

.news-list figure {
    /* height: 210px; */
    aspect-ratio: 1/0.5706;
}

.news-list figure img,
.music-list figure img {
    width: 100%;
}

.news-list li {
    transition: 0.25s ease-in;
    position: relative;
}

.music-border {
    border: solid 1px #d7d7ec;
}

.news-list a {
    position: relative;
    display: block;
    /* min-height: 340px; */
    /* box-sizing: content-box; */
    background-color: var(--bh_color_white);
}

.news-list .text_wrap {
    padding: 30px 15px 40px;
}

.news-list p,
.music-list p {
    word-break: break-all;
    /* text-align: center; */
    font-weight: 700;
    font-size: 2rem;
    font-size: 1.8rem;
    font-size: clamp(1.8rem, 1.855vw, 2rem);
    color: #191925;
    letter-spacing: -0.5px;
}

.news-img-box,
.music-img-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-img-box figure,
.music-img-box figure {
    margin: 20px 0;
}

.music-list li {
    scale: 1;
    transition: 0.4s;
}
.music-list li:hover {
    scale: 0.96;
}

.music-list figure {
    width: 100%;
    position: relative;
}

.music-list a {
    width: 100%;
}

/* .music-list li:hover {
    transition: 0.4s;
    --border-angle: 0turn;
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    100% {
        --border-angle: 1turn;
    }
} */

.music-list .text_wrap {
    width: 100%;
    background: #f7f7ff;
    padding: 30px 15px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.4s;
}

.music-list .text_wrap span {
    transition: 0.2s linear;
}

/* .music-list li:hover {
    border: solid 10px transparent;
} */

.music-list li:hover .text_wrap {
    opacity: 1;
}

.music-list .text_wrap:hover span {
    color: var(--bh_color_main);
}

.music-img-box figure {
}

.date {
    transform: 0.4s;
    position: absolute;
    left: -1px;
    top: -1px;
    transform: translateY(-100%);
    background-image: linear-gradient(to top, #7987e1, #867dd9);
    padding: 5px 20px 5px 5px;
    border-radius: 0 50px 0 0;
    z-index: 99;
    display: flex;
    align-items: center;
}

.date span {
    color: var(--bh_color_gray_100);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    font-family: "Montserrat";
}

.date img {
    margin-right: 3px;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.news-list li:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (max-width: 1344px) {
    .cont_wrap.cont1 {
        padding: 220px 0;
    }

    .cont_wrap.cont2 .banner {
        flex-direction: column;
        /* gap: 60px; 상단 */
        padding-bottom: 60px; /* 하단 */
    }
    .cont_wrap.cont2 .banner .img_box {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-left: 0;
        aspect-ratio: 1/0.3144;
    }
    .cont_wrap.cont2 .banner .txt_box {
        padding: 0 10rem;
    }
    .cont_wrap.cont2 .banner .txt_box .line {
        width: 67px;
        height: 1px;
        margin: 30px auto;
    }
    .v_tuber {
        /* left: 210px; */
        left: 50%;
        transform: translateX(-50%);
    }
    .info-imgs {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .info-text {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .news-list,
    .music-list {
        flex-wrap: wrap;
        gap: 8rem 4rem;
        justify-content: space-between;
        padding: 0 6rem;
    }
    .news-list li,
    .music-list li {
        flex: 0 1 45%;
    }
    .music-list li {
        width: 200px;
    }
}

@media screen and (max-width: 780px) {
    .news-list,
    .music-list {
        gap: 8rem 0rem;
        padding: 0;
        justify-content: center;
    }
    .news-list li,
    .music-list li {
        flex: 0 1 90%;
    }
}

@media screen and (max-width: 690px) {
    .cont_wrap.cont1 {
        padding: 80px 0;
    }
    .cont_wrap.cont1 .txt_box p {
        line-height: 1.6;
        font-weight: 400;
    }
    .cont_wrap.cont1 .txt_box p br {
        display: none;
    }

    .cont_wrap.cont2 .banner .txt_box {
        padding: 0 1.5rem;
        text-align: center;
    }
    .cont_wrap.cont2 .banner .txt_box .Markers {
        max-width: 483px;
    }

    .con2-text br,
    .info-text br {
        display: none;
    }
}
