@charset "utf-8";

.cont_wrap.cont1 {
    padding: 220px 0 200px;
    background: url("../img/main/sub1_bg1.png") no-repeat;
    background-size: cover
}

.bh_wrap {
    width: 100%;
    max-width: 1310px;
    margin: 0px auto;
}

.ta-c {
    text-align: center !important;
}

.bh * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cont_wrap.cont1 .txt_box img {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4))
}

.cont_wrap.cont1 .txt_box .line {
    max-width: 146px;
    height: 1px;
    margin: 60px auto;
    background-color: #cacaef
}

.cont_wrap.cont1 .txt_box p {
    font-weight: 500;
    font-size: 20.5px;
    line-height: 2.56;
    letter-spacing: -0.51px;
    color: #f7f7ff;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.4))
}

.cont_wrap.cont2 {
    /* background-color: #f7f7ff */
    overflow-x: hidden;
}

.cont_wrap.cont2 .banner {
    padding: 190px 0 130px;
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    /* width: 1920px; */
    max-width: 2100px;
    min-width: 1920px;
    margin: 0 auto;
}


.cont_wrap.cont2 .banner .img_box {
    margin-left: -30px;
    /* width: 50%; */
    flex: 0 0 auto;
    /* width: auto; */
    max-width: none;
    position: relative;
    height: 300px;
}

.img_box img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.bg {
    width: 95rem;
    height: 30rem;
}

.v_tuber {
    position: absolute;
    /* left: 210px; */
    right: -50px;
    bottom: 0px;
}

.cont_wrap.cont2 .banner .txt_box {
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 180px;
    /* width: 50%; */
    /* padding-left: 200px; */

}

.cont_wrap.cont2 .banner .txt_box span {
    font-family: "NanumSquareNeo", sans-serif !important;
    background-color: #8e93f9;
    color: #f7f7ff;
    font-weight: 700;
    display: inline-block;
    font-size: 22px;
    letter-spacing: -0.66px;
    padding: 0 10px;
    margin: 3px;
}


.cont_wrap.cont2 .banner .txt_box .line {
    width: 1px;
    height: 67px;
    margin: 30px 0;
    background-color: #d0d0e1
}

.cont_wrap.cont2 .banner .txt_box p {
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #20202d
}

/* 
.cont_wrap.cont2 .info {
    padding-bottom: 130px
}

.cont_wrap.cont2 .info .bh_row {
    margin: 0 -30px
}

.cont_wrap.cont2 .info .bh_row>div {
    padding: 0 30px
}

.cont_wrap.cont2 .info p {
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #20202d
} */

.info {
    padding-bottom: 130px;
}

.info-imgs {
    display: flex;
    justify-content: space-between;
}

.info-text {
    text-align: center;
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #20202d;
}

.con3 {
    background: url(../img/main/mbg.png);
    width: 100%;
    height: 1730px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;
    /* padding: 30px 0; */
    z-index: 1;
    /* overflow: hidden; */

}

.news {
    padding: 10rem 0 10rem;
}


.news-list,
.music-list {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.news-list figure {
    height: 210px;
}

.news-list figure img,
.music-list figure img {
    width: 100%;
}

.news-list li,
.music-list li {
    width: 370px;
    /* border: 1px solid #000; */
    border: solid 1px #d7d7ec;
    position: relative;
    transition: 0.25s ease-in;
}

.news-list a {
    display: block;
    height: 340px;
    /* box-sizing: content-box; */
    background-color: var(--bh_color_white);
}

.news-list .text_wrap {
    padding: 30px 15px 40px;
}

.news-list p,
.music-list p {
    word-break: break-all;
    /* text-align: center; */
    font-weight: 700;
    font-size: 2rem;
    color: #191925;
    letter-spacing: -0.5px;
}

.news-img-box,
.music-img-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-img-box figure,
.music-img-box figure {
    margin: 20px 0;
}

/* .music-list li {
    width: 350px !important;
} */

.music-list figure {
    width: 100%;
    position: relative;
}

.music-list a {
    width: 100%;
}

/* .music-list li:hover {
    transition: 0.4s;
    --border-angle: 0turn;
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    100% {
        --border-angle: 1turn;
    }
} */



.music-list .text_wrap {
    width: 100%;
    background: #f7f7ff;
    padding: 30px 15px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.4s;
}

.music-list .text_wrap span {
    transition: 0.2s linear;
}

.music-list li:hover {
    /* transition: 0.4s; */
    border: solid 10px transparent;
}

.music-list li:hover .text_wrap {
    opacity: 1;
}

.music-list .text_wrap:hover span {
    color: var(--bh_color_main);
}

.music-img-box figure {}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.btn-more {
    width: 210px;
    border-radius: 50px;
    padding: 18px 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.btn-wrap img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.more {
    font-weight: 700;
    color: var(--bh_color_white);
    position: relative;
    z-index: 10;
}

.btn-wrap svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: unset;
}

.move {
    /* opacity: 0; */
    /* transition: opacity 0.3s ease; */
}

.move_n {
    /* transition: opacity 0.3s ease; */
}

.date {
    position: absolute;
    left: -1px;
    top: -1px;
    transform: translateY(-100%);
    background-image: linear-gradient(to top, #7987e1, #867dd9);
    padding: 5px 20px 5px 5px;
    border-radius: 0 50px 0 0;
    z-index: 99;
    display: flex;
    align-items: center;
}

.date span {
    color: var(--bh_color_gray_100);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    font-family: "Montserrat"
}

.date img {
    margin-right: 3px;
}