.all-music-img {
    text-align: center;
}

.all-music-img figure {
    margin-bottom: 2rem;
}

.all-music-img figure:nth-child(2) {
    margin-bottom: 5rem;
}

.all-music {
    padding: 7rem 0 6rem;
    text-align: center;
    background: url(../img/music/bigstar.png) no-repeat;
    background-color: #f7f7ff;
    background-position: calc(100% + 100px) -150px;
}

.music-tab {
    /* font-size: 0; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px;
    justify-content: center;
}

.music-tab li {
    text-align: center;
    font-size: 16.5px;
    border: solid 1px #867dd9;
    border-radius: 50px;
    transition: all 0.4s;
    padding: 12px 17px;
    line-height: 1;
    color: #867dd9;
    letter-spacing: -0.41px;
    min-width: 76px;
}

.music-tab li:hover {
    color: var(--bh_color_white);
    border-color: var(--bh_color_main);
    background: linear-gradient(180deg, #bcaaff 38.02%, #baccff 100%);
}

.music-tab a.on li {
    color: var(--bh_color_white);
    border-color: var(--bh_color_main);
    background: linear-gradient(180deg, #8e75e7 38.02%, #90a9ed 100%);
}

.music-tab a {
    /* display: block; */
    padding: 0 12.5px;
}

.item_count {
    float: left;
    padding: 20px 0;
    display: flex;
}

/* img {
    width: 10%;
} */

.music-card {
    margin-top: 3rem;
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    /* display: none; */
    gap: 5rem;
    flex-wrap: wrap;
}

.music-card li {
    flex: 0 1 30%;
    /* width: 380px; */
    height: 360px;
    /* padding: 0 35px; */
    background: #f7f7ff;
    position: relative;
    border: solid 1px #d7d7ec;
    background-color: var(--bh_color_white);
}

.music-card-wrap {
    display: flex;
    flex-direction: column;
}

.music-card-img img {
    width: 100%;
}

.song-type {
    transform: 0.4s;
    position: absolute;
    left: -0px;
    top: -1px;
    transform: translateY(-100%);
    background-image: linear-gradient(to top, #7987e1, #867dd9);
    padding: 5px 20px 5px 5px;
    border-radius: 0 50px 0 0;
    z-index: 99;
    display: flex;
    align-items: center;
}

.song-type span {
    color: var(--bh_color_gray_100);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    font-family: "Montserrat";
}

.song-type img {
    margin-right: 3px;
}

.music-card li a {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
}

.music-card-textbox {
    transition: 0.4s;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 100%;
    padding: 1rem 2rem;
}

.music-card-textbox h3 {
    font-weight: 800;
    text-align: left;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 1.25;
    color: #191925;
    transition: 0.2s;
}

.music-card li:hover h3 {
    color: var(--bh_color_main);
}

.highlight {
    transition: color 0.2s;
    /* Smooth color transition */
}
