.swiper-slide img {
    width: 100%;
    /* 컨테이너의 너비에 맞춤 */
    height: 100%;
    /* 컨테이너의 높이에 맞춤 */
    object-fit: contain;
    /* 이미지 비율을 유지하며 잘리지 않게 */
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {}

.swiper-button-next,
.swiper-button-prev {
    color: #7987e0 !important;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--bh_color_main)) !important;
}

.all-news-img {
    text-align: center;
}

.all-news-img figure {
    margin-bottom: 2rem;
}

.all-news-img figure:nth-child(2) {
    margin-bottom: 5rem;
}

.all-news {
    padding: 7rem 0 6rem;
    text-align: center;
    background: url(../img/news/bigstar.png) no-repeat;
    background-color: #f7f7ff;
    background-position: calc(100% + 100px) -150px;
}

.news-tab {
    /* font-size: 0; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px;
    justify-content: center;
}

.news-tab li {
    text-align: center;
    font-size: 16.5px;
    border: solid 1px #867dd9;
    border-radius: 50px;
    transition: all 0.2s;
    padding: 12px 17px;
    line-height: 1;
    color: #867dd9;
    letter-spacing: -0.41px;
    min-width: 76px;
}

.news-tab a.on li {
    color: var(--bh_color_white);
    border-color: var(--bh_color_main);
    background: linear-gradient(180deg, #8F88E0 38.02%, #90A9ED 100%);
}

.news-tab a {
    display: block;
    padding: 0 12.5px;
}

.item_count {
    float: left;
    padding: 20px 0;
}

.news-card {
    position: relative;
}

.news-card::before {
    content: '';
    width: 11px;
    height: 11px;
    background-color: #d7d7ec;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.news-card li {
    display: flex;
    border: solid 1px #d7d7ec;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
    background-color: var(--bh_color_white);
}

.news-card li:hover h3 {
    color: var(--bh_color_main);
}

.news-card figure {
    width: 300px;
    height: 165px;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.news-card-img {
    padding-right: 50px;
}

.news-card img {
    max-width: 100%;
    height: auto;
}

.news-card li h3 {
    transition: 0.3s;
    font-weight: 500;
    margin: 15px 0 10px;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: -0.55px;
    color: #191925;
}

.news-card li p {
    color: #a8a8b9;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.news-card-textbox {
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.event-type {
    /* position: absolute; */
    /* left: -1px;
    top: -1px;
    transform: translateY(-100%); */
    background-image: linear-gradient(to top, #7987e1, #867dd9);
    padding: 5px 20px 5px 5px;
    border-radius: 0 50px 0 0;
    z-index: 99;
    display: inline-flex;
    align-items: center;
}

.event-type span {
    color: var(--bh_color_gray_100);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    font-family: "Montserrat"
}

.event-type img {
    margin-right: 3px;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.btn-more {
    width: 210px;
    border-radius: 50px;
    padding: 18px 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.btn-wrap img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.more {
    font-weight: 700;
    color: var(--bh_color_white);
    position: relative;
    z-index: 10;
}

.btn-wrap svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: unset;
}

.move {
    /* opacity: 0; */
    /* transition: opacity 0.3s ease; */
}

.move_n {
    /* transition: opacity 0.3s ease; */
}